<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= RESTAURANT.name %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <h1><%= RESTAURANT.name %></h1>
    <h3>Call us: <%= RESTAURANT.phone %></h3>
    <p>Our Location: <%= RESTAURANT.address %></p>
    <% if (RESTAURANT.isOpen) { %>
    <p><%= "Yes we are open!" %></p>
    <% } else { %>
    <p><%= "Sorry,we are closed." %></p>
    <% } %>
  </body>
</html>
